/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
}

/* Container styles */
.container {
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    height: 100vh; /* Ocupa toda la altura del viewport */
    overflow: hidden; /* Asegura que no haya contenido desbordado */
    background-color: #f6f6f6; /* Fondo  */
}

/* Left section */
.left-section {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.portfolio-title {
    text-transform: uppercase;
    font-size: 1rem;
    color: #555;
    margin: 0 auto; /* Centra horizontalmente */
    letter-spacing: 2px;
    text-align: center; /* Centra el texto en su contenedor */
    display: flex;
    justify-content: center; /* Centra horizontalmente con Flexbox */
    align-items: center; /* Centra verticalmente con Flexbox */
    height: 50px; /* Ajusta según el espacio disponible */
    width: 100%; /* Asegura que ocupe todo el ancho */
}

.name {
    font-size: 4.5rem;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info-line {
    display: flex; /* Asegura que los elementos estén en línea */
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    gap: 10px; /* Espaciado inicial entre los elementos */
    width: 90%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    position: relative; /* Permite ajustar posiciones específicas */
    margin-top: 20px;
}

.subtitle {
    margin: 0;
    font-size: 1.2rem;
    color: #777;
}

.contact-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid #007BFF;
    margin-left: auto; /* Empuja el enlace al final del contenedor */
    transition: color 0.3s ease, border-color 0.3s ease;
}

.contact-link:hover {
    color: #0056b3;
    border-color: #0056b3;
}

/* Right section styles */
.right-section {
    flex: 1;
}

.coding-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
